
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap');


*, ::before, ::after {
    box-sizing: border-box;
}
body {
    background-color: #F0F0F0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    line-height: 1.3;
}

.logo{
    margin-bottom: -8px;
}

.topbar-nav a:hover, .topbar-nav a.active {
    text-decoration: underline;
}

a {
    color: inherit;
    text-decoration: none;
}
.topbar {
    background: #CE0033;
    color: #FFFFFF;
}

.topbar-logo {
    display: block;
    text-align: center;
    font-size: 24px;
    padding: 11px 0;
    margin-top: 10px;
}
.topbar-nav {
    text-align: center;
    padding-bottom: 16px;
    line-height: 2;
}

.topbar-nav a {
    display: inline-block;
    margin: 0 12px;
    transition: color, .3s;
}



.container{
    padding: 0 15px;
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.site {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


.sidebar a {
    display: block;
    width: 50%;
    text-decoration: none;
    padding: 0.6em 0;
    transition: .3s;
    padding-left: 10px;
}

.sidebar a::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 12px;
    vertical-align: middle;
    margin-top:  -2px;
    margin-right: 20px;
    opacity: .67;
    background: url(img/1.svg) center center / contain no-repeat;
    transition: opacity .3s;
    border: solid 1px transparent;
}

.sidebar .sidebar-events::before {
    background-image: url(img/2.svg);
}

.sidebar .sidebar-messages::before {
    background-image: url(img/5.svg);
}

.sidebar .sidebar-groups::before {
    background-image: url(img/3.svg);
}


.sidebar a:hover, .sidebar a.active {
    color: #000;
}

.sidebar a:hover::before, .sidebar a.active::before {
    opacity: 1;
}

.sidebar a.active, .sidebar a:hover {
    color: #CE0033;
    border: solid 1px #F0F0F0;
    border-radius: 3px;
    background: #FFFFFF;
    font-weight: bold;
}

.card {
    border: solid 1px #F0F0F0;
    border-radius: 3px;
    background: #FFFFFF;
    margin-bottom: 15px;
}

.card:last-child {
    margin-bottom: 0;
}

.card-header{
    padding: 10px;
    position: relative;
}

.card-header-avatar{
    padding: 65px;
    margin-top: -55px;
    margin-bottom: -55px;
}

.card-avatar{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    border-radius: 50%;
}

.card-title {
    font-weight: bold;
    color: #000;
    font-size : 18px;
    margin: 5px 0;
}

.card-body {
    padding: 0 10px 30px 10px;
}

.card-body .fullwidth{
    width: calc(100% + 20px);
    display: block;
    margin-left: -10px;
    margin-right: -10px;
}
.card-date{
    color: rgba(0, 0, 0, 0.38);
    font-size : 12px;
}

.card-body p:first-child {
    margin-top: 0;
}

.card-body p:last-child {
    margin-bottom: 0;
}

.card-footer{
    border-top: solid 1px #d8d8d8;
    background: #fbfbfb;
    display: flex;
    padding: 10px;
    font-size : 12px;
    color: #bdbdbd;
}

.card-footer a{
    text-decoration: none;
}

.card-footer a:hover{
    text-decoration: underline;
}

.card-like::before, .card-comments::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background: url(img/like.svg) center center / 20px 18px no-repeat;
}

.card-comments {
    margin-left: auto;
}

.card-comments::before {
    background: url(img/comment.svg) center center / 18px 17px no-repeat;
}

.sidebar-title {
    margin-top: 30px;
    margin-bottom: 18px;
    color: #000;
    font-size: 15px;
    font-weight: bold;
}
.sidebar-title::after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    padding-top: 4px;
    margin-top: 4px;
    background: #000;
}

.friend{
    margin: 14px 0;
    display: flex;
}

.friend-name {
    display: block;
    font-weight: bold;
    color: #000;
    font-size: 15px;
}

.friend-add {
    display: block;
    color: #000;
    font-size: 15px;
    margin-top: auto;
}

.friend-body{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.friend-add::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 13px;
    transform: translateY(-1px);
    background: center center / 18px 13px no-repeat url(img/add.svg);
    vertical-align: middle;
    margin-right: 5px;
}

.friend-avatar{
    width: 73px;
    height: 73px;
    flex : none;
    margin-right: 10px;
}
@media only screen and (min-width: 520px){
    .topbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 0 25px;
    }
    .topbar-logo, .topbar-nav {
        padding: 0;
    }
    .topbar-nav a {
        margin: 0 20px;
    }
}

@media only screen and (min-width : 950px) {
    .site {
        display: flex;
    }

    .sidebar{
        display: block;
        flex: none;
        width: 180px;
    }
    .sidebar a {
        width: 100%;
    }

    .main {
        width: 100%;
        margin-left: 30px;
        margin-right: 30px;
    }

    .aside{
        flex: none;
        width: 310px;
    }
}

